.profile {
  justify-content: space-between;
  padding: 40px 20px;

  & > .user__name {
    display: block;
  }

  & > * {
    margin-right: 10px;
  }
  &:not(:last-child) {
    border-bottom: 2px solid $dark-05;
  }

  @media only screen and (max-width: 420px) {
    &.flex-wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__name {
      text-align: center;
    }

    & > * {
      margin-right: 0;
    }
  }
}
