$green-70: rgba(2, 184, 117, 0.7);
$green-100: rgba(2, 184, 117, 1);

$dark-green: rgb(14, 163, 109);

$blue-70: rgba(0, 125, 188, 0.7);
$blue-100: rgba(0, 125, 188, 1);

$red-70: rgba(184, 2, 117, 0.7);

$dark-100: #000;
$dark-90: rgba(0, 0, 0, 0.9);
$dark-80: rgba(0, 0, 0, 0.8);
$dark-75: rgba(0, 0, 0, 0.75);
$dark-70: rgba(0, 0, 0, 0.7);
$dark-60: rgba(0, 0, 0, 0.6);
$dark-55: rgba(0, 0, 0, 0.55);
$dark-50: rgba(0, 0, 0, 0.5);
$dark-40: rgba(0, 0, 0, 0.4);
$dark-20: rgba(0, 0, 0, 0.2);
$dark-10: rgba(0, 0, 0, 0.1);
$dark-05: rgba(0, 0, 0, 0.05);
$dark-04: rgba(0, 0, 0, 0.04);
$dark-02: rgba(0, 0, 0, 0.02);

$white-70: rgba(255, 255, 255, 0.7);
$white: #fff;

$header-height: 50px;
